node_modules

.DS_Store

.env
.env.local
.env.development
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

*.pem
dev-error.log
dev-output.log
server/test-db.js
server/setup-db.js
client/build/

.vercel
